<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>CFBundleIdentifier</key>
    <string>com.rokartur.Micmute.PerAppVolumeDevice</string>
    <key>CFBundleName</key>
    <string>Micmute Per-App Volume</string>
    <key>CFBundleVersion</key>
    <string>0.1</string>
    <key>CFBundleShortVersionString</key>
    <string>0.1</string>
    <key>CFPlugInDynamicRegistration</key>
    <false/>
    <key>CFPlugInFactories</key>
    <dict>
        <key>FCF5A0E1-2F26-4D87-B957-F1D9B1E0F59F</key>
        <string>BGMPlugIn_Create</string>
    </dict>
    <key>CFPlugInTypes</key>
    <dict>
        <key>2ABDF5C0-A480-11D2-B62D-006097553C18</key>
        <array>
            <string>FCF5A0E1-2F26-4D87-B957-F1D9B1E0F59F</string>
        </array>
    </dict>
    <key>AudioServerPlugIn_BundleID</key>
    <string>com.rokartur.Micmute.PerAppVolumeDevice</string>
    <key>AudioServerPlugIn_DeviceUID</key>
    <string>BGMDevice</string>
</dict>
</plist>
