<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SUAutomaticallyUpdate</key>
	<true/>
	<key>SMLoginItemEnabled</key>
	<true/>
	<key>SUEnableDownloaderService</key>
	<true/>
	<key>SUFeedURL</key>
	<string>https://rokartur.github.io/Micmute/appcast.xml</string>
	<key>SUPublicEDKey</key>
	<string>y8b1H8DtpR8MDFzAE0Xr/72ovZpsGiHXjno5F5rpYRs=</string>
	<key>SUScheduledCheckInterval</key>
	<integer>86400</integer>
	<key>SUEnableInstallerLauncherService</key>
	<true/>
</dict>
</plist>
